.default-color0.chart-pie { -fx-pie-color: BLUE; }
.default-color1.chart-pie { -fx-pie-color: RED; }
.default-color2.chart-pie { -fx-pie-color: GREY; }


/* BUTTTONS */

.button {
    -fx-width: 180px;
    -fx-width: 60px;
    -fx-font-size: 13pt;
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#ffa9a9, #ff0000);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-background-size: cover;
}

.button:hover {
    -fx-background-color: linear-gradient(#afa8ff, #0000ff);
}

/* LABELS */

.label {
    -fx-font-size: 12pt;
    -fx-font-family: "Arial";
}

.h1 {
    -fx-font-size: 15pt;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
}