.default-color0.chart-pie { -fx-pie-color: BLUE; }
.default-color1.chart-pie { -fx-pie-color: RED; }
.default-color2.chart-pie { -fx-pie-color: GREY; }
.default-color3.chart-pie { -fx-pie-color: BLUE; }
.default-color4.chart-pie { -fx-pie-color: RED; }
.default-color5.chart-pie { -fx-pie-color: GREY; }


/* PANELS */
.boxBigerStyle{
    -fx-background-color: lavender;
}

.boxOneStyle{
    -fx-background-color: LIGHTPINK;
    -fx-background-radius: 20px;
    -fx-border-width: 3px;
    -fx-border-color: DarkBLUE;
    -fx-border-radius: 20px;
}

/* POLYGONS */

.polygon:focused{
    -fx-background-color: DarkGreen;
}


/* BUTTTONS */

.button {
    -fx-width: 180px;
    -fx-width: 60px;
    -fx-font-size: 13pt;
    -fx-text-fill: white;
    -fx-font-family: "Comic Sans MS", "Comic Sans";
    -fx-font-weight: bold;
    -fx-background-color: rgb(255, 0, 0);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-background-size: cover;
}

.button:hover {
    -fx-background-color: blue;
}

.button:disabled{
    -fx-opacity: 0.3;
}


/* LABELS */

.label {
    -fx-font-size: 12pt;
    -fx-font-family: "Comic Sans MS", "Comic Sans";
    -fx-font-weight: bold;
    -fx-text-align:center;
}
.labelMid {
    -fx-font-size: 14pt;
    -fx-font-family: "Comic Sans MS", "Comic Sans";
    -fx-font-weight: bold;
    -fx-text-align:center;
}

.h1 {
    -fx-font-size: 18pt;
    -fx-font-weight: bold;
    -fx-font-family: "Comic Sans MS", "Comic Sans";;
    -fx-text-align:center;
}